version: 2.1

jobs:
  Publish-to-Pages:
    docker:
      - image: cimg/node:18.7.0
    environment:
        CLOUDFLARE_ACCOUNT_ID: $CLOUDFLARE_ACCOUNT_ID
        CLOUDFLARE_API_TOKEN: $CLOUDFLARE_API_TOKEN
    steps:
      - checkout
      - run: node --version
      # Run your project's build step
      - run: npm install
      # Publish with wrangler
      - run: npx wrangler pages publish public # Replace dist with the name of your build folder and input your project name



workflows:
  Publish-to-Pages-workflow:
    jobs:
      - Publish-to-Pages